
<div class="container" id="contact">
	<div class="box">
		<h1>Contact us! We can't wait to hear from you!</h1>
		<p>Give us a call at 1-800-123-GRIT to discuss the opportunity of working together or fill out a Project Request Form and we will be in touch with your shortly</p>
	</div>

<%= flash[ :notice] %>

 <div class="alert alert-success" role="alert" id="project_alert"></div>
	<%=form_tag("/static_pages/thank_you", id: "cont", remote: true) do %>
	<div class="row" id="cform">
		<div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8">
			<div class="form-group" id="entry">
				<%= label_tag :contact_name %>
				<%= text_field_tag :contact_name, nil, class: "form-control", placeholder: "Enter Name" %>
			</div>
			<div class="form-group">
				<%= label_tag :contact_email, "Email Address" %>
				<%= text_field_tag :contact_email, nil, class: "form-control", placeholder: "Enter Email" %>
			</div>
			<div class="form-group">
				<%= label_tag :contact_message %>
				<%= text_area_tag :contact_message, nil, class: "form-control", placeholder: "Enter Message" %>
			</div>
		</div>
		<div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8">
			<%= submit_tag "Send", :id => "test" %>
		</div>
	</div>
	<% end %>
</div>

		



