<h1 id="projects">Projects</h1>

<div class="container" id="signs">
	<div class= "box">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<h2>Signs</h2>
			</div>
			<div class="col-sm-offset-2 col-md-offset-2 col-sm-4 col-md-4">
				<%= image_tag("sign1.jpg", class: "img-responsive") %>
			</div>
			<div class="col-sm-4 col-md-4">
				<%= image_tag("welcome.jpg", class: "img-responsive") %>
			</div>
		</div><!-- end row -->
	</div><!-- end box -->
</div><!-- end container -->

<div class="container" id="railings">
	<div class="box">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<h2>Railings</h2>
			</div>
			<div class="col-sm-4 col-md-4">
				<%= image_tag("railing1.jpg", class: "img-responsive") %>
			</div>
			<div class="col-sm-4 col-md-4">
				<%= image_tag("railing2.jpg", class: "img-responsive") %>
			</div>
			<div class="col-sm-4 col-md-4">
				<%= image_tag("railing3.jpg", class: "img-responsive") %>
			</div>
		</div><!-- end row -->
	</div><!-- end box -->
</div><!-- end container -->

<div class="container" id="words">
	<div class="box">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<h2>Words</h2>
			</div>
			<div class="col-sm-3 col-md-3">
				<%= image_tag("home.jpg", class: "img-responsive inline") %>
			</div>
			<div class="col-sm-3 col-md-3">
				<%= image_tag("dream.jpg", class: "img-responsive") %>
			</div>
			<div class="col-sm-3 col-md-3">
				<%= image_tag("love.jpg", class: "img-responsive") %>
			</div>
			<div class="col-sm-3 col-md-3">
				<%= image_tag("family.jpg", class: "img-responsive") %>
			</div>
		</div><!-- end row -->
	</div><!-- end box -->
</div><!-- end container -->






