<h1 id="projects">Projects</h1>

<div class="container" id="signs">
	<div class= "box" id="b1">
		<div class="row" id="pro">
			<div class="col-sm-12 col-md-12">
				<h2><%= link_to "Signs", products_path+"#sign" %></h2>		
			</div>
			<div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-8 col-md-8 col-lg-8">
				<%= link_to image_tag("welcome.jpg", class: "img-responsive"), products_path+"#sign" %>
			</div>
		</div><!-- end row -->
	</div><!-- end box -->
</div><!-- end container -->

<div class="container" id="railings">
	<div class="box">
		<div class="row" id="pro">
			<div class="col-sm-ocol-sm-12 col-md-12">
				<h2><%= link_to "Railings", products_path+"#rail" %></h2>
			</div>
			<div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-8 col-md-8 col-lg-8">
				<%= link_to image_tag("railing1.jpg", class: "img-responsive"), products_path+"#rail" %>
			</div>
		</div><!-- end row -->
	</div><!-- end box -->
</div><!-- end container -->

<div class="container" id="words">
	<div class="box">
		<div class="row" id="pro">
			<div class="col-sm-12 col-md-12">
				<h2><%= link_to "Words", products_path+"#word" %></h2>
			</div>
			<div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-8 col-md-8 col-lg-8">
				<%= link_to image_tag("dream.jpg", class: "img-responsive"), products_path+"#word" %>
			</div>
		</div><!-- end row -->
	</div><!-- end box -->
</div><!-- end container -->

<div class="container" id="wround">
	<div class="box">
		<div class="row" id="pro">
			<div class="col-sm-12 col-md-12">
				<h2><%= link_to "Wood Rounds", products_path+"#rounds" %></h2>
			</div>
			<div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-8 col-md-8 col-lg-8">
				<%= link_to image_tag("blessed.jpg", class: "img-responsive") %>
			</div>
		</div><!-- end row -->
	</div><!-- end box -->
</div><!-- end container -->






