<div class="container-fluid" id="not_signin">
  <div class="row">
    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-7">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
      </div>

      <%= form_for(resource, :html => {class: "form-horizontal", method: :put}, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email, nil, :class => "col-sm-2 control-label" %>
      <%= f.email_field :email, autofocus: true, :class => "col-sm-8" %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password, nil, :class => "col-sm-2 control-label" %><i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "off", :class => "col-sm-8" %><br>
      <% if @minimum_password_length %>
      <br/>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :password_confirmation, nil, :class => "col-sm-2 control-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "col-sm-8" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, nil, :class => "col-sm-2 control-label" %><br><i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "off", :class => "col-sm-8" %>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "Update", :class => "btn btn-default" %>
    </div>
    <% end %>
  </div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>-->
