<p id="notice"><%= notice %></p>

<div class="container" id="users">
  <div class="row">
    <div class="col-sm-offset-5 col-md-offset-5 col-sm-7 col-md-7">
      <h1>Users</h1>
    </div>
  </div>

<div class="container" id="usertable">        
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @users.each do |user| %>
        <td class="email"><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New User', new_user_path %>
