        <div class="col-sm-2 col-md-4">
          <div class="row">
            <h2><%= product.name %></h2>
          </div>
          <div class="row">
            <%= image_tag(product.image_url, class: "img-fluid", width: "350", height: "300") unless product.image_url.blank? %>
          </div>
          <div class="row">
            <p><%= product.description %></p>
          </div>
          <div class="row">
            <p><strong>$<%= product.price %></strong></p>
          </div>
          <div class="row">
            <p><%= product.category %></p>
          </div>
          <div class="container-fluid" id="actions">
            <div class="row">
            <button type="button" class="btn btn-default"><%= link_to 'Show', product %></button>
            <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_product_path(product) %></button>
              <button type="button" class="btn btn-default"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?'} %></button>
            </div>
          </div>
        </div>
       
      