<div class="container" id="prod_show">
	<div class="box">
		<div class="row">
			<div class="col-sm-offset-4 col-md-offset-4 col-sm-5 col-md-5" id="name">
				<p>
  					<strong>Product Name:</strong>
  					<%= @product.name %>
				</p>
		</div>

			<div class="col-sm-offset-4 col-md-offset-4 col-sm-4 col-md-4" id="image">
				<p>
  					<%= image_tag(@product.image_url, class: "img-fluid img-zoom", size: "350x350", data_zoom_img: "product.image_url") %>
  				</p>
			</div>

			<div class="col-sm-offset-5 col-md-offset-4 col-sm-4 col-md-4" id="description">
				<p>
  					<strong>Description:</strong>
  				<%= @product.description %>
				</p>
			</div>

			<div class="col-sm-offset-4 col-md-offset-4 col-sm-4 col-md-4" id="colour">
				<p>
					<strong>Colour:</strong>
					<%= @product.colour %>
				</p>
			</div>

			<div class="col-sm-offset-4 col-md-offset-4 col-sm-4 col-md-4" id="price">
				<p>
					<strong>Price: $</strong>
					<%= @product.price %>
				</p>
			</div>

			<div class="col-sm-offset-4 col-md-offset-4 col-sm-4 col-md-4" id="catey">
				<p>
					<strong>Category: </strong>
					<%= @product.category %>
				</p>
			</div>

			<div class="col-sm-offset-4 col-md-offset-4 col-sm-4 col-md-4" id="rate">
					<p><strong>Ratings: </strong></p>
					<small>Highest: </small><div class="rated" data-score="<%= @product.highest_rating_comment.nil? ? '0' : @product.highest_rating_comment.rating %>"></div>
					<br>
					<small>Lowest: </small><div class="rated" data-score="<%= @product.lowest_rating_comment.nil? ? '0' : @product.lowest_rating_comment.rating %>"></div><br>
				<p><strong>Average Rating: </strong></p>
					<div class="rated" id="average_rating" data-score="<%= @product.average_rating %>"></div>
					<div class=" col-sm-offset-3 col-md-offset-3 col-sm-5 col-md-5" id="pay">
					<%= form_tag '/payments/create' do %>
						<%= render partial: 'shared/stripe_checkout_button' %>
					<% end %>
					</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8" id="comments">
  			<%= render 'new_comment' %>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-5 col-md-offset-5 col-sm-4 col-md-4" id="showaction">

				<button type="button" class="btn btn-default"><%= link_to 'Edit', edit_product_path(@product) %></button> |
				<button type="button" class="btn btn-default"><%= link_to 'Back', products_path %></button>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-12">
			<%= render 'comments' %>
			</div>
		</div>
	</div>
</div>