  <!--<div class="container" id="ncont">
    <p id="notice"><%= notice %></p>
  </div>--> 


  <div class="container-fluid" id="product">
    <% @products.each do |category, products| %>
  	 <div class="row" id="<%= category %>">
  		  <div class="col-sm-12 col-md-12 col-lg-12">
  			 <h1>
            <%= category %>
          </h1>
  		  </div>
  	 </div>
     <div class="row">
      <% products.each do |product| %>
        <%= render partial: 'product', locals: {product: product} %>
      <% end %>
     </div>
    <% end %>
  </div>
    

  <hr><br>

  <%= link_to 'New Product', new_product_path %>


