
<div class="container" id="ncont">
	<p id="notice"><%= notice %></p>
</div>

<div class="container">
<%= render 'show' %>
</div>

<div class="container">
<%= render 'new_comment' %>
</div>

<div class="container">
<%= render 'comments' %>
</div>

<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>